@import "font.css";
/*global vars*/
$main_color1: #DB4437;
$main_color2: #3CB878;
$title: #fff;
$text: #a6a6a6;
$background: #222627;
$border: #393c3d;

@mixin ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/*global vars end*/
* {
  font-family: 'Roboto', sans-serif;
}

header {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: $title;
  background: $main_color1;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  .menu_btn {
    display: none;
    cursor: pointer;
    width: 40px;
    div {
      transition: all ease-in-out .2s;
      margin: 5px auto;
      width: 100%;
      background: $title;
      height: 4px;
    }
    &.active {
      border: 2px solid $title;
      border-radius: 50%;
      div {
        opacity: 0;
      }
      .middle {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        opacity: 1;
      }
    }
  }
  div {
    flex: 1;
    a {
      img {
        height: 50px;
        padding: 5px 0;
      }
    }
  }
  nav {
    flex: 1;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      //justify-content: space-around;
      li {
        list-style: none;
        position: relative;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        text-align: center;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease-in-out .2s;
        &:after {
          content: '';
          height: 3px;
          width: 0;
          background: $main_color2;
          position: absolute;
          bottom: 0;
          left: 50%;
          transition: all ease-in-out .2s;
        }
        &:hover {
          a {
            text-decoration: none;
            color: $title;
          }
          &:after {
            content: '';
            height: 3px;
            width: 100%;
            background: $main_color2;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
        a {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $title;
        }
      }
    }
  }
}

body {
  background-color: $background;
  font-family: 'Roboto', sans-serif;
  //background:
  //        radial-gradient(black 3px, transparent 4px),
  //        radial-gradient(black 3px, transparent 4px),
  //        linear-gradient($background 4px, transparent 0),
  //        linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
  //        linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  //        $background;
  //background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  //background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.title {
  h1 {
    text-align: center;
    color: $title;
    font-size: 50px;
    font-weight: 900;
  }
}

.trending_news {
  &--image {
    margin: 0;
    background-image: url("https://picsum.photos/400/400/?random");
    @include ratio(16, 9);

    .trending_news--date {
      position: absolute;
      bottom: 25px;
      right: 25px;
      background: $background;
      font-size: 14px;
      font-weight: normal;
      color: $title;
      padding: 6px 10px;
      margin: 0;
    }
  }
  &--category {
    margin: 15px 0;
    padding: 8px 15px;
    color: $title;
    background: $main_color2;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    border-radius: 3px;
    display: flex;
    width: max-content;
    border: 1px solid transparent;
    &:hover {
      text-decoration: none;
      color: $title;
      background: transparent;
      border: 1px solid $main_color2;
    }
  }
  &--title {
    color: $title;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &--social {
    a {
      i {
        margin-right: 5px;
      }
      color: $text;
      font-size: 14px;
      font-weight: 500;
      margin-right: 20px;
    }
  }
}

.heading {
  margin-bottom: 30px;
  &.heading_centered {
    p{
      text-align: center;
    }
    .line {
      &:after {
        left: calc(50% - 30px) ;
      }
    }
  }
  p {
    font-size: 24px;
    font-weight: 700;
    color: $title;
    text-transform: capitalize;
  }
  .line {
    width: 100%;
    background: $border;
    height: 1px;
    margin: 0 auto;
    position: relative;
    &:after {
      width: 60px;
      height: 2px;
      background: $main_color1;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      margin-left: 0;
    }
  }
}

.carousel {
  display: flex;
  &--selected {
    width: 65%;
    img {
      width: 100%;
    }
  }
  &--items {
    padding-left: 20px;
    width: 35%;
    color: $title;
    font-size: 12px;
    div {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 15px;
      img {
        width: 50%;
        padding-right: 10px;
      }
      p {
        width: 50%;
      }
    }
  }
}

.left_bar {
  border: 1px solid $border;
  border-radius: 3px;
  padding: 40px 15px;
}

.right_bar {
  border: 1px solid $border;
  padding: 40px 30px;
  border-radius: 3px;
  margin-bottom: 50px;
}

.latest_news {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  &--image {
    flex: 0 0 80px;
    max-width: 80px;
    background-image: url("https://picsum.photos/200/500/?random");
    @include ratio(12, 9);
  }
  &--content {
    padding-left: 20px;
    .latest_news--title {
      a {
        font-size: 14px;
        font-weight: 700;
        color: $title;
        margin-bottom: 5px;
        &:hover {
          text-decoration: none;
          color: $main_color1;
        }
      }
    }
    .latest_news--social {
      display: flex;
      justify-content: space-between;
      a {
        font-size: 12px;
        color: $text;
        i {
          margin-right: 5px;
        }
      }
    }
  }
}

/*Large*/
@media (max-width: 992px) {

}

/*Medium*/
@media (max-width: 767px) {
  header {
    display: block;
    height: 50px;
    transition: all ease-in-out .3s;
    position: fixed;
    width: 100%;
    z-index: 1;
    &.open {
      width: 100%;
      height: 100vh;
      transition: all ease-in-out .3s;
      background: $main_color1;
      position: fixed;
      nav {
        display: block;
      }
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .menu_btn {
      display: block;
      max-width: 40px;
    }
    nav {
      display: none;
      ul {
        display: block;
        li {
          text-align: left;
          a {
            justify-content: unset;
            z-index: 1;
            font-size: 20px;
          }
          &:after {
            bottom: 49%;
            left: 0;
          }
          &:hover {
            &:after {
              bottom: 49%;
              left: 0;
              z-index: 0;
            }
          }
        }
      }
    }
  }
  .container {
    padding-top: 50px;
  }
}
